
main {
    display: flex; /* Enable flex layout for main area */
    flex: 1; /* Allow it to grow and fill remaining space */
}


/* Responsive adjustments */
@media (min-width: 768px) {
    .item {
        flex: 1 1 30%; /* 3 items in a row on larger screens */
    }
}

@media (min-width: 1200px) {
    .item {
        flex: 1 1 25%; /* 4 items in a row on extra-large screens */
    }
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div {
    width: 100vw;
    height: 100vh;
}
