img.resize1 {
	<!--width: 800;-->
	<!--height: 400;-->
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

img.resizephone {
	 width: auto ;
	 max-width: 100% ;
	 height: auto ;
}



* {
  box-sizing: border-box;
}

.column {
	float: left;
	width: 50%;
	padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
}

.center {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	<!--width: 75%;-->
	width: auto;
}

table {
    width: 100%; /* Full width of the container */
    border-collapse: collapse; /* Collapses borders into a single border */
    table-layout: fixed; /* Use fixed table layout */
}

th, td {
    border: 1px solid #ccc; /* Table cell borders */
    padding: 8px; /* Padding within cells */
    text-align: center; /* Align text to the left */
    overflow: clip; /* Ensure overflow is hidden */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: clip; /* Add ellipsis for overflowed text */
}



