<style>
			img.resize1 {
  				<!--width: 800;-->
  				<!--height: 400;-->
				width: 100%;
				height: 100%;
  				margin-left: auto;
  				margin-right: auto;
			}
			
			img.resizephone {
 				 width: auto ;
  				 max-width: 100% ;
  				 height: auto ;
			}
		
			
			
			* {
			  box-sizing: border-box;
			}

			.column {
				float: left;
				width: 50%;
				padding: 5px;
			}

			/* Clearfix (clear floats) */
			.row::after {
				content: "";
				clear: both;
				display: table;
			}
			
			.center {
 				display: block;
  				margin-left: auto;
 				margin-right: auto;
  				<!--width: 75%;-->
				width: auto;
			}
			
			
			
		</style>
