<style>
			img.resize1 {
  				<!--width: 800;-->
  				<!--height: 400;-->
				width: 100%;
				height: 100%;
  				margin-left: auto;
  				margin-right: auto;
			}
			
			img.resizephone {
 				 width: auto ;
  				 max-width: 100% ;
  				 height: auto ;
			}
		
			table, td, th, tr {  
  				border: 1px solid; 
				text-align: center;
			}
			
			th[colspan="2"] {
    				text-align: center;
				font-size: 1.15em;
				padding-top: 12px;
  				padding-bottom: 12px;

			}
			
			table.tablec, td.tablec, th.tablec {  
  				border: 1px solid; 
				text-align: center;
			}

			table {
 			border-collapse: collapse;
			}
			
			table.tablec {
 			border-collapse: collapse;
			}
			
			table tbody tr:nth-child(2n + 1) {
				background-color: rgba(160, 160, 160, 0.075);
			} 
			
			
			
			* {
			  box-sizing: border-box;
			}

			.column {
				float: left;
				width: 50%;
				padding: 5px;
			}

			/* Clearfix (clear floats) */
			.row::after {
				content: "";
				clear: both;
				display: table;
			}
			
			.center {
 				display: block;
  				margin-left: auto;
 				margin-right: auto;
  				<!--width: 75%;-->
				width: auto;
			}
			
			
			
		</style>
